# File cau hinh mau cho Client game VocabLearning
# Sao chep file nay va doi ten thanh ".env" de bat dau cau hinh.
# Thay doi dia chi IP duoi day khop voi IP cua may chu (Host).
ServerUrl=http://[IP_ADDRESS]:5000/api
