# Port cua Backend Node.js
PORT=
DB_USER=
DB_PASSWORD=
DB_SERVER=
DB_NAME=
DB_PORT=
DB_TRUST_SERVER_CERTIFICATE=

# Gmail SMTP (Tao App Password tai: Google Account > Bao mat > Mat khau ung dung)
EMAIL_USER=
EMAIL_PASS=
